/* IMPOSTAZIONI GENERALI */
html {
  font-size: 62.5%;
}
body {
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 15px;
  background-image: url("../img/sfondo.png");
  background-position: center center;
}
* {
  box-sizing: border-box;
}
hr {
  display: none;
} /* rimuove l'elemento */

/* HEADER */
header {
  background: rgb(0, 160, 198);
  background: linear-gradient(
    180deg,
    rgba(0, 160, 198, 1) 0%,
    rgba(3, 109, 134, 1) 68%
  );
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  box-shadow: 0 3px 3px #444;
  margin-bottom: 1.5em;
  padding: 2em 1.5em;
}
header div img {
  margin-bottom: 20px;
}
header nav ul {
  margin: 0;
}
header nav li {
  list-style: none;
}
header nav li a {
  color: white;
  text-decoration: none;
}
header nav li a:hover {
  color: red;
}
header nav li a::before {
  content: "\22c6\0020";
}

/* MAIN */
main {
  background-color: #fff;
  box-shadow: 0 3px 3px #444;
  padding: 2em 1em;
  margin-bottom: 1.5em;
}
section {
  background-color: #e3e3e3;
  padding: 1em;
  margin-bottom: 2em;
}
section h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: -0.03em;
  margin-bottom: 0.7em;
}
p,
address,
ul,
ol,
dl,
blockquote {
  margin-bottom: 1.2em;
}
h1 + p {
  color: #a0a0a0;
}
ul,
ol {
  margin-left: 2em;
}
a {
  color: #00a0c6;
  font-weight: bold;
}
strong {
  color: #a02571;
  font-weight: bold;
}
code {
  background-color: #e3e3e3;
  border: 1px solid #969494;
  border-radius: 5px;
}
iframe {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
  border-radius: 20px;
}

/* TABELLE */
table {
  margin-bottom: 2em;
}
caption {
  font-weight: bold;
  font-style: italic;
}
thead tr {
  background-color: #3f6bca;
  color: #ffffff;
}
th,
td {
  padding: 12px 15px;
  vertical-align: bottom;
  text-align: center;
}
tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #3f6bca;
}

/* FORM */
input {
  padding: 5px;
  border: 0;
  border-bottom: 1px dashed #333;
}
button {
  padding: 4px 7px;
  background-color: #3f6bca;
  border: 0;
  color: white;
  font-weight: bold;
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}
aside div {
  background-color: #e3e3e3;
  border: 1px solid #c3c3c3;
  margin-bottom: 1em;
  padding: 1em;
}
aside div p:last-child {
  margin-bottom: 0;
  font-size: 0.8em;
  text-align: right;
}

/* FOOTER */
footer {
  background: rgb(53, 53, 53);
  background: linear-gradient(
    0deg,
    rgba(53, 53, 53, 1) 0%,
    rgba(5, 85, 103, 1) 68%
  );
  box-shadow: 0 3px 3px #444;
  color: #f0f0f0;
  padding: 1em;
  text-align: center;
  font-size: 1.2rem;
}
footer a {
  color: fuchsia;
}

/* tablet mode */
@media screen and (min-width: 700px) {
  * {
    font-size: 140%;
  }
  header nav ul li {
    display: inline-block;
    margin: 0 0.4em;
  }

  header {
    font-size: 140%;
  }
  main {
    padding: 0 1.8em;
  }

  h1 {
    padding-top: 0.7em;
    font-size: 290%;
    line-height: 120%;
  }

  h2 {
    font-size: 110%;
    font-weight: bold;
  }
  table {
    display: block;
    margin: 6em auto;
    width: 78%;
    padding: 0;
    font-size: 90%;
  }

  th,
  td {
    padding: 0.8em 2em;
    vertical-align: middle;
  }

  main article section h2 {
    background-color: #a1a1a1;
    text-transform: capitalize;
    font-size: 130%;
  }
  main article section fieldset {
    font-size: 50%;
  }
  main article section fieldset button {
    padding: 1em 2em;
  }
  main article section fieldset input {
    padding: 1em 20em 1em 1em;
  }

  aside a {
    font-size: 90%;
  }
  footer {
    font-size: 140%;
  }
}

/* desktop mode */
@media screen and (min-width: 900px) {
  body {
    margin: 0 6em;
    font-size: 120%;
  }

  header {
    padding: 0.8em;
  }
  header * {
    display: inline-block;
  }

  header div img {
    margin-bottom: 0;
  }

  header div p {
    margin-bottom: 0em;
    margin-right: 10em;
  }

  header div {
    vertical-align: middle;
  }
  table {
    display: block;
    margin: 6em auto;
    width: 75%;
    padding: 0;
    font-size: 90%;
  }

  th,
  td {
    padding: 0.8em 5em;
    vertical-align: middle;
  }

  iframe,
  main article section {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    max-width: 49%;
    height: 200px;
  }
  main article section fieldset input {
    padding: 1em 8em;
  }

  aside h2 {
    margin: 2em;
    font-size: 150%;
  }
  aside div {
    display: inline-block;
    width: 33%;
    margin-bottom: 2em;
  }
}

/* printer mode */
@media print {
}
